@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');

:root{
  --main-font-color: #FF8278;
  --header-ff: 'satisfy', script;
  --sub-head-ff: 'Open Sans', sans-serif;
}

header.col-md-12{
  padding: 0 50px;
}

.logo-img{
  width: 90px;
}

.navbar{
  margin-bottom: 0px;
  margin-top: 20px;
}

.nav > li {
  font-family: var(--sub-head-ff);
  font-size: 20px;
}

a:hover{
  color: var(--main-font-color);
}

h1{
  font-family: var(--header-ff);
  color: var(--main-font-color);
}

/* end of header */

.jumbotron{
  background-image: url('../img/hero.jpg');
  background-position: center;
  height: 480px;
  background-size: cover;
  border-radius: 0 !important;
}

.hero-tag{
  color: #fff;
  font-family: var(--sub-head-ff);
  font-weight: 300;
  letter-spacing: 2px;
}

/* end jumbotron */

.well{
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h4{
  font-family: var(--sub-head-ff);
}

/* end main */


.footer{
  background: #000;
  height: 150px;
  padding: 10px;
}

.footer-logo{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.footer-contact{
  border-left: 2px solid #fff;
  margin-top: 15px;
  color: #fff;
  line-height: 34px;
}

.footer-social{
  border-left: 2px solid #fff;
  margin-top: 15px;
}

.fa{
  color: #fff;
}

.list-group-item{
  background-color: #000 !important;
  border: none !important;
}

.copyright{
  font-size: 15px;
  background: #000;
  display: flex;
  align-items: flex-end;
  margin-top: 100px;
}
